body {
	background-color: #eeeeff;
	height: 5000px;
}

.top div {
	margin-left: 22%;
}

.bar {
	position: sticky;
	top: 30px;
	padding: 5px;
	background-color: #00c0ff;
	border-top: 20px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: #404080;
}

.bar table {
	margin-left: 22%;
}

.bar table th span {
	background-color: #00a0ff;
	padding: 6px;
	border: 2px;
	border-style: outset;
	border-color: #99bbee;
	border-radius: 3px;
	margin-right: 40px;
}

a:link {
	color: #404040;
}
a:visited {
	color: #404040;
}
a:hover {
	color: #707070;
}
a:active {
	color: #606060;
}